body {
    font-family: 'Helvetica Neue', sans-serif;
    background: url('../img/bg.jpg') center center fixed no-repeat #30373D;
    background-size: cover;
}

#sign-div {
    width: 1280px;
    height: 720px;
    margin: auto;
    background: url('../img/bg.jpg') center center fixed;
    background-size: cover;
}

#game-div {
    display: none;
}

#game-area {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#pre-game-div, #connection-status-div {
    display: none;
    margin: auto;
    width: 1300px;
    height: 750px;
    background: url('../img/bg.jpg') center center fixed;
    background-size: cover;
}

.game-title {
    padding: 30px;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 1);
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

.login-page {
    margin: auto;
    width: 360px;
    padding-top: 20px;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 10px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.error {
    margin: 10px 0;
    padding: 12px;
    color: #D8000C;
    background-color: #FFBABA;
    display: none;
    font-size: 14px;
}

.highscore-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}